/*General*/
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/*Header*/
.pages{
    justify-content: space-around;
    width: 100%;
}
.header{
    background-color: black;
    opacity: 0.8;
    position: fixed;
    top: 0;
    color: white;
}
.page{
    color: white;
    padding: 26px;
    text-decoration: none;
    font-weight: lighter;
}
.page:hover{
    background-color: white;
    color:black;
}
.current{
    font-weight: bolder;
    font-size: 18px;
}
.logo{
    font-family: "Sacramento", sans-serif;
    color:white;
    margin-left: 15px;
    font-size: 40px;
    transform: rotate(-2deg);
}
.logo:hover{
    background-color: white;
    color:black;
}
/* footer */
footer{
    height: 70px;
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer div{
    display: flex;
}
footer p{
    margin: 0;
    font-size: 14px;
}
footer img{
    height: 80%;
}
/* main general */
.wp{
    background-color: black;
    padding: 20px 0px 20px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    margin-left: 40px;
}
.wp img{
    height: 80;
}


/* Media Queries*/
@media (max-width:480px)
{
    footer div{
        flex-direction: column;
        align-items: center;
        
    }
}